<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SMS</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow-lg d-flex justify-content-between ">
      <a class="navbar-brand p-2" href="#">SMS sender</a>
      <img th:src="@{/img/fishbone32.png}" alt="fishlogo">
</nav>

<main role="main" class="container">

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>#</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="phone : ${phonelist}">
      <th scope="row"></th>
      <td><span th:text="${phone.phonenumber}"></span></td>
    </tr>
  </tbody>
</table>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>